<section class="score">
  <h4>You: <span class="badge badge-success">{{this.userScore}}</span></h4>
  <h4>Computer: <span class="badge badge-success">{{this.computerScore}}</span></h4>
</section>

<div class="rentals">
  <ul class="results">
    <li class="player-card"><Card @data={{this.data.resultPlayer}}/></li>
  </ul>

  <ul class="results">
    <li class="computer-card"><Card @data={{this.data.resultComputer}}/></li>
  </ul>
</div>

<div class="battle-button">
  <button {{on 'click' changePlayers}} class="button">Play again!</button>
</div>

{{yield}}